/* =========================
   FONT
========================= */
@font-face {
    font-family: 'Barlow';
    src: url('/static/fonts/Barlow.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*{
     font-family: "Barlow", sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

/* =========================
   HEADER (ẩn vì dùng sidebar)
========================= */
header {
    display: none;
}

/* =========================
   ADMIN LAYOUT
========================= */
.admin-container {
    display: flex;
    min-height: 100vh;
}

/* Sidebar */
.sidebar {

    box-sizing: border-box;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 230px;
    background: #1a1a1a;
    color: #fff;
    padding: 25px;
    display: flex;
    flex-direction: column;
}

.sidebar h2 {
    margin-bottom: 20px;
    font-size: 18px;
}

.sidebar nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar .tab-btn {
    background: #333;
    color: #fff;
    border: none;
    padding: 13px;
    cursor: pointer;
    text-align: left;
    font-size: 17px;
    border-radius: 4px;
    transition: background 0.2s;
}

.sidebar .tab-btn:hover {
    background: #555;
}

/* Logout */
.sidebar .btn-logout {
    margin-top: auto;
    display: block;
    text-decoration: none;
    color: #fff;
    background: #e74c3c;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    transition: background 0.2s;
}

.sidebar .btn-logout:hover {
    background: #c0392b;
}


/* Main content */
.main-content {
    flex: 1;
    padding: 20px;
    margin-left: 230px;
    padding-top: 10px;
}

/* Tab content */
.tab-content {
    display: none;

}

.tab-content.active {
    display: block;
}
.navFrom{
    display: flex;
    gap: 20px;
    padding: 15px;
    border-radius: 15px;
    margin: 0 30px;
}

.sidebar .tab-btn.active-tab {
    background-color: #0a2b77; /* màu nổi bật khi tab đang chọn */
    color: #fff;
}

/* =========================
   BUTTONS
========================= */
.btn-toggle-form {
    margin: 0;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 120%;
    transition: background 0.2s;
    height: 50px;
    width: 100%;

}

.btn-toggle-form:hover {
    background-color: #3a923e;
}
.fa-solid{
    padding-left: 8px;
}

/* =========================
   FORM
========================= */
.form-container {
    position: relative;
    margin-top: 15px;
    padding: 15px;
    border-radius: 5px;
    /*background-color: #fff;*/
    /*box-shadow: 0 2px 6px rgba(0,0,0,0.1);*/
    width: 50%;
    margin: 0 auto;
}
.form-container form {
    display: flex;

    flex-wrap: wrap;
}

.form-container .col1{
    box-sizing: border-box;
    width: calc(70% - 20px);
    margin-right: 20px;
}
.form-container .col2{
    box-sizing: border-box;
    width: 30%;

}

.form-container .col-center {
    width: 100%;
}
.form-container h2{
    margin: 20px auto;
    text-align: center;
}

.form-container label {

    font-weight: bold;
    margin-top: 10px;
    display: block;
    color: #333;
}

.form-container input[type="text"],
.form-container input[type="number"],
.form-container input[type="file"],
.form-container select,
.form-container textarea {
    width: 100%;
    padding: 8px 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
    resize: vertical;
}
.description{
    height: 50px;
}



.form-container .btn-submit {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 0;
    width: 100%;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-container .btn-submit:hover {
    background-color: #3a923e;
}



/* =========================
   PREVIEW ẢNH
========================= */
.preview-container {

    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.preview-item {
    position: relative;
}

.preview-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.radio-main {
    position: absolute;
    top: 2px;
    left: 2px;
}

/* =========================
   PRODUCT & PROJECT CARD
========================= */
.product-filter, .project-filter{
    width: 100%;
    background-color: #dcdcdc;
    height: 50px;
    margin-top: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
}
.fa-magnifying-glass{
    font-size: 14px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #666;
    pointer-events: none;
}
.product-filter> div, .project-filter > div{
    background-color: #ffffff;
    padding: 7px 13px;
    border-radius: 10px;
    width: 300px;
    position: relative;
}
.product-filter input[type="text"], .project-filter  input[type="text"]{
    border: none;
    outline: none;
    width: 100%;
}
.product-filter select, .project-filter  select{
    width: 200px;
    padding: 8px 10px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
    resize: vertical;
}

.product-card, .project-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #fff;
    width: 200px;
}

.product-list, .project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.product-card img, .project-card img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    display: block;
    margin-bottom: 5px;
}
.product-card p, .project-card p {
    margin: 5px 0;
}
.product-card div, .project-card div {
    margin-top: 13px;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.btn-edit, .btn-delete ,.btn-detail{
    padding: 5px 8px;
    text-decoration: none;
    border-radius: 4px;
    color: white;
    margin: 2px;
    font-size: 16px;
    display: inline-block;
    width: 30%;

    text-align: center;
}

.btn-detail {
    background-color: #24af0f;
}
.btn-edit {
    background-color: #1890ff;
}

.btn-delete {
    background-color: #ff4d4f;
}
