<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>HuuTinhDoor | Admin</title>
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
</head>

<body>
<div class="admin-container">
    <!-- Sidebar -->
    <aside class="sidebar">
        <h2>Admin</h2>
        <nav>
            <button class="tab-btn" data-tab="add">THÊM</button>
            <button class="tab-btn" data-tab="products">SẢN PHẨM</button>
            <button class="tab-btn" data-tab="projects">CÔNG TRÌNH</button>
            <button class="tab-btn" data-tab="projects">THƯƠNG HIỆU</button>
        </nav>
        <a href="{{ url_for('admin.logout') }}" class="btn-logout">Đăng xuất</a>
    </aside>

    <!-- Main content -->
    <main class="main-content">

        <!-- Tab Thêm -->
        <section class="tab-content" id="tab-add">
            <div class="navFrom">
                <button id="toggleFormProductBtn" class="btn-toggle-form">SẢN PHẨM<i class="fa-solid fa-plus"></i></button>
                <button id="toggleFormProjectBtn" class="btn-toggle-form">CÔNG TRÌNH<i class="fa-solid fa-plus"></i></button>
            </div>

            <!-- Form Thêm Sản phẩm -->
            <div id="addProductForm" class="form-container" style="display:none;">
                <h2>Thêm sản phẩm</h2>
                <form method="POST" enctype="multipart/form-data" action="{{ url_for('admin.add_product') }}">
                    <div class="col col1">
                        <label>Tên sản phẩm:</label>
                        <input type="text" name="name" required>

                        <label>Giá:</label>
                        <input type="number" step="0.01" name="price" required>
                    </div>

                    <div class="col col2">
                        <label>Danh mục:</label>
                        <select name="category_id" id="categorySelect" required>
                            {% for cat in categories %}
                            <option value="{{ cat.id }}">{{ cat.name }}</option>
                            {% endfor %}
                        </select>

                        <label>Loại sản phẩm:</label>

                        <select name="subcategory_id" id="subcategorySelect" required>
                            {% for sub in subcategories %}
                            <option value="{{ sub.id }}" data-category="{{ sub.category_id }}">{{ sub.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col col-center">
                        <label>Mô tả:</label>
                        <textarea class="description" name="description" rows="3"></textarea>

                        <label>Ảnh sản phẩm:</label>
                        <input type="file" name="images" multiple id="imagesProductInput">

                        <div id="previewProductContainer" class="preview-container"></div>
                        <input type="hidden" name="main_image_index" id="main_image_product_index">

                        <input type="submit" value="Thêm sản phẩm" class="btn-submit">
                    </div>
                </form>

            </div>

            <!-- Form Thêm Công trình -->
            <div id="addProjectForm" class="form-container" style="display:none;">
                <h2>Thêm công trình</h2>
                <form method="POST" enctype="multipart/form-data" action="{{ url_for('admin.add_project') }}">
                    <label>Tên công trình:</label>
                    <input type="text" name="name" required>
                    <label>Mô tả:</label>
                    <textarea name="description" rows="3"></textarea>
                    <label>Ảnh công trình:</label>
                    <input type="file" name="images" multiple id="imagesProjectInput">
                    <div id="previewProjectContainer" class="preview-container"></div>
                    <input type="hidden" name="main_image_index" id="main_image_project_index">
                    <input type="submit" value="Thêm công trình" class="btn-submit">
                </form>
            </div>
        </section>

        <!-- Tab Sản phẩm -->
        <section class="tab-content" id="tab-products">
            <div class="product-filter">
                <div>
                    <input id="searchProductByName" type="text" name="search-name" placeholder="Nhập tên sản phẩm">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <select name="category_id" id="categoryProductSearch" required>
                    <option value="">Tất cả</option>p>
                    {% for cat in categories %}
                    <option value="{{ cat.id }}">{{ cat.name }}</option>
                    {% endfor %}
                </select>
                <select name="subcategory_id" id="subcategoryProductSearch" required>
                    <option value="" data-category="all">Tất cả</option>p>
                    {% for sub in subcategories %}
                    <option value="{{ sub.id }}" data-category="{{ sub.category_id }}">{{ sub.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="product-list" id="product-list"></div>
        </section>

        <!-- Tab Công trình -->
        <section class="tab-content" id="tab-projects">
            <div class="project-filter">

            </div>
            <div class="project-list" id="project-list"></div>


        </section>

    </main>
</div>

<!-- JS -->
<script src="{{ url_for('static', filename='js/admin.js') }}"></script>
</body>
</html>
