<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Chủ - HuuTinh Door</title>
    <link rel="stylesheet" href="../static/css/style.css">


</head>

<body>
    <header>
        <div class="logo">HuuTinh Door</div>
        <nav>
            <a href="{{ url_for('main.index') }}">Trang chủ</a>
            <a href="{{ url_for('main.cua_nhom') }}">Cửa nhôm</a>
            <a href="{{ url_for('main.tu_nhom') }}">Tủ nhôm</a>
            <a href="{{ url_for('main.kinh_cuong_luc') }}">Kính cường lực</a>
            <a href="{{ url_for('main.san_pham') }}">Sản phẩm</a>
            <a href="{{ url_for('main.lien_he') }}">Liên hệ</a>
            <a href="{{ url_for('admin.login') }}">Login</a>

        </nav>
    </header>

    <section class="banner">

        <h1>Chào mừng đến với HuuTinh Shop</h1>
        <p>Chuyên cung cấp sản phẩm chất lượng, giá tốt!</p>
        <a href="#" class="btn">Xem sản phẩm</a>
    </section>
    <section class="intro">
        <div>
            <h2>Về chúng tôi</h2>
            <p>HuuTinh Shop là cửa hàng trực tuyến chuyên cung cấp các sản phẩm chất lượng với giá cả hợp lý. Chúng tôi
                cam
                kết mang đến cho khách hàng trải nghiệm mua sắm tuyệt vời nhất.
            </p>

        </div>
        <div>

        </div>
    </section>
    <section class="services">
        <h2>Dịch vụ của chúng tôi</h2>
        <div class="service-cards">
            <div class="service-card">
                <h3>Giao hàng nhanh</h3>
                <p>Chúng tôi đảm bảo giao hàng nhanh chóng và đúng hẹn.</p>
            </div>
            <div class="service-card">
                <h3>Hỗ trợ 24/7</h3>
                <p>Đội ngũ hỗ trợ khách hàng luôn sẵn sàng giúp đỡ bạn bất cứ lúc nào.</p>
            </div>
            <div class="service-card">
                <h3>Chính sách đổi trả</h3>
                <p>Chúng tôi có chính sách đổi trả linh hoạt để đảm bảo sự hài lòng của khách hàng.</p>
            </div>
        </div>

    </section>

    <section class="products">
        <h2>Sản phẩm nổi bật</h2>
        <div class="product-grid">
            {% for product in products %}
            <div class="product-card">
                <h2>{{ product.name }}</h2>
                {% for img in product.images %}
                {% if img.is_main %}
                <div class="product-image">
                    <img src="{{ img.url }}" alt="{{ img.alt_text }}">
                </div>
                {% endif %}
                {% endfor %}

                <p>Giá:  {{  product.price }}đ</p>
                <p>{{ product.description }}</p>
              
                <a class="btn" href="{{ url_for('main.product_detail', product_id=product.id) }}">Xem thêm</a>

            </div>
            {% endfor %}
        </div>

    </section>
    <section class="projects">
        <h2>Các công trình</h2>
        <div class="project-grid">
            {% for project in projects %}
            <div class="project-card">
                <h2>{{ project.name }}</h2>
                {% for img in project.images %}
                {% if img.is_main %}
                <div class="project-image">
                    <img src="{{ img.url }}" alt="{{ img.alt_text }}">
                </div>
                {% endif %}
                {% endfor %}

                <p>Giá:  {{  project.price }}đ</p>
                <p>{{ project.description }}</p>

                <a class="btn" href="{{ url_for('main.project_detail', project_id=project.id) }}">Xem thêm</a>

            </div>
            {% endfor %}
        </div>
    </section>
    <footer>
        {% include "footer.html" %}
    </footer>
</body>

</html>